<div class="container">
  <h2>Welcome to Duncan Painting and Wallcovering</h2>
  <p>Since 1978, we have been providing top-notch painting and wallcovering services in Chaffee, MO. Our commitment to quality and customer satisfaction sets us apart.</p>
  <div class="row">
    <div class="col-md-4">
      <img src="assets/image1.png" class="img-fluid" alt="Duncan Painting and Wallcovering">
    </div>
    <div class="col-md-4">
      <img src="assets/image2.png" class="img-fluid" alt="Duncan Painting and Wallcovering">
    </div>
    <div class="col-md-4">
      <img src="assets/image3.png" class="img-fluid" alt="Duncan Painting and Wallcovering">
    </div>
  </div>
</div>
